$white: #fff;
$gray-900: #1c2b36;
$gray-950: #161e25;
$black: #000;

$blue-dark: #7092a9;

$font-family-base: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
$font: 14px/1.8 $font-family-base;

$body-color: $black;
$body-bg: $white;